@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Email Templates - Corp Remedies</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ancillary Provider Information Template</h2>
        <p><a class="btn btn-default" href="/EmailTemplate/AncillaryProviderInformationTemplate">Check Template&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Appointment Notification Template</h2>
        <p><a class="btn btn-default" href="/EmailTemplate/AppointmentNotificationTemplate">Check Template&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Authorization For Scheduling Template</h2>
        <p><a class="btn btn-default" href="/EmailTemplate/AuthorizationForSchedulingTemplate">Check Template&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Request For Ancillary Services Template</h2>
        <p><a class="btn btn-default" href="/EmailTemplate/RequestForAncillaryServicesTemplate">Check Template&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Request Status Template</h2>
        <p><a class="btn btn-default" href="/EmailTemplate/RequestStatusTemplate">Check Template&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Request Specialist Template</h2>
        <p><a class="btn btn-default" href="/EmailTemplate/RequestSpecialistTemplate">Check Template&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Report & Appointment Notification Template</h2>
        <p><a class="btn btn-default" href="/EmailTemplate/ReportAppointmentNotificationTemplate">Check Template&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Appointment To Clinic</h2>
        <p><a class="btn btn-default" href="/EmailTemplate/AppointmentToClinic">Check Template&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Only Requests Status</h2>
        <p><a class="btn btn-default" href="/EmailTemplate/OnlyRequestsStatus">Check Template&raquo;</a></p>
    </div>
</div>